<div class="col-md-12" >
    <div  *ngFor ="let tournament of finalTournaments">
        <div class="media mt-1 text-white p-3" style="background-color: #1e1e1e;">
            <div class="media-body">
                <button type="button" class="close"  aria-label="Close" (click)="removeCountryFromList(tournament);" >
                    <span aria-hidden="true" style="color: red!important;">&times;</span>
                  </button>
                <div class="row ml-2" >
                    <div class="col-md-4">
                        <a class="d-flex" >
                            <img src="https://www.countryflags.io/{{tournament.country.iconCode}}/flat/24.png" alt="">
                            <h6 class="ml-2">
                                {{tournament.country.countryName}}
                               </h6>
                        </a>
                    </div>
                <div *ngFor="let country of tournament.tournaments">
                    <div class="col-md-12">
                        <div class="media-body p-2" style="background-color: #333333;" routerLink="event/{{country.tournamentId}}/{{removeSpaceFromTournament(country.tournamentName)}}">
                            <small>
                                <input type="checkbox">
                                {{country.tournamentName}}
                              </small>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


