table.fitpage {
    table-layout: fixed!important;
    width: 100%!important;  
  }
  
  .table thead th{
    border-bottom: 0px!important;
  }
  .table th, .table td{
    border-top: 1px solid #000000!important;
  }

  .BtnOverflow{
    white-space: nowrap!important; 
     width: 120px!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important; 
    border-color: #643e94!important;
    color: #643e94!important;
  }