  <div class="col-md-12">
    <table class="table fitpage text-white">
        <thead class="thead" style="background-color: #643e94;    padding: 0%!important;">
          <tr style="padding: 0%!important;">
            <th *ngIf="country">
              <a class="d-flex" >
                <img src="https://www.countryflags.io/{{country.iconCode}}/flat/24.png" alt="">
            </a>
            </th>
            <th *ngIf="tournament"   >
              <a class="d-flex" >
                {{tournament.tournamentName}}
              </a>
            </th>
            <th></th>
            <th class="d-flex justify-content-end" style="padding: 0%!important;">
                <div class="btn-group" style="padding: 0%!important;">
                    <button type="button" class="btn btn-danger dropdown-toggle" style="border-radius: 0px;min-height: 55px;background-color: #643e94;border-color: #643e94;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{itemOne}}
                    </button>
                    <div class="dropdown-menu">
                        <div *ngFor="let bet of betTypes">
                            <a class="dropdown-item" (click)="getMarketsBasedOnBetType(bet.betTypeId)">{{bet.betTypeName}}</a>
                        </div>
                    </div>
                  </div>
            </th>
          </tr>
        </thead>
        <tbody>
                <tr *ngFor="let event of events"  style="background-color: #333333!important;">
                    <th scope="row" style="min-width:100%!important">{{event.eventDate | date: "HH:mm"}}</th>
                    <td><small>{{event.eventName}} </small> </td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button *ngFor="let market of markets" type="button" class="btn btn-outline-primary" style="border-color: #643e94;color: #643e94;">{{market.marketName}}</button>
                      </div>
                    </td>
                    <td></td>
                  </tr>
        </tbody>
      </table>
  </div>
 
  