  <div class="col-md-12">
    <table class="table fitpage text-white" style="min-width: 100%!important;">
        <thead class="thead" style="background-color: #643e94;    padding: 0%!important;">
          <tr style="padding: 0%!important;">
            <th *ngIf="country">
              <a class="d-flex" >
                <img src="https://www.countryflags.io/{{country.iconCode}}/flat/24.png" alt="">
            </a>
            </th>
            <th *ngIf="tournament"   >
              <a class="d-flex" >
                {{tournament.tournamentName}}
              </a>
            </th>
            <th></th>
            <th class="d-flex justify-content-end" style="padding: 0%!important;">
                <div class="btn-group" style="padding: 0%!important;">
                    <button type="button" class="btn btn-danger dropdown-toggle" style="border-radius: 0px;min-height: 55px;background-color: #643e94;border-color: #643e94;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{itemOne}}
                    </button>
                    <div class="dropdown-menu">
                        <div *ngFor="let bet of betTypes">
                            <a class="dropdown-item " (click)="getMarketsBasedOnBetType(bet)">{{bet.betTypeName}}</a>
                        </div>
                    </div>
                  </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="eventLen == 0">
             <td>
              <small>No events avaliable for this tournament</small>
             </td>
          </tr>
                <tr *ngFor="let event of events"  style="background-color: #333333!important;">
                    <th scope="row" style="min-width:100%!important"><small>{{event.eventDate | date: "short"}}</small></th>
                    <td><small>{{event.eventName}} </small> </td>
                    <td>
                      <div class="">
                        <div class="col-md-12 btn-group btnGroupShrink" role="group" aria-label="Basic example" style="min-width:200%!important">
                          {{getMarketsForEvent(event.eventId)}}
                          <button *ngFor="let market of displayMarket" type="button" class="btn btn-outline-primary BtnOverflow" (click)="addEventToBetSlip(event,market.marketName,market.odds);" style="color: white!important;"  data-toggle="tooltip" data-placement="bottom" title="{{setMarketTypeName(event.eventName,market.marketName)}} {{market.odds}}"><small>
                            {{setMarketTypeName(event.eventName,market.marketName)}} {{market.odds}}
                          </small></button>
                        </div>
                      </div>
                     
                    </td>
                    <td></td>
                  </tr>
        </tbody>
      </table>
  </div>
  <script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
  </script>