
<app-tournament [selectedCountry]="selectedCountry" [tempValue]="tempValue" ></app-tournament>
<div class="row ml-2">
    <div *ngFor="let country of arrayCountries"
    [class.selected]="country === selectedCountry"
    (click)="onSelected(country)"
    >
       <a class="text-white">
        <div class="media ml-1 p-2 mt-3 mb-2" style="background-color: #1e1e1e;border-radius: 5px;min-width: 200px!important;">
            <a class="d-flex" >
                <img src="https://www.countryflags.io/{{country.iconCode}}/flat/24.png" alt="">
            </a>
            <div class="media-body">
                <h5>{{country.countryName}}</h5>
            </div>
        </div>
       </a>
    </div>
</div>


