<div class="row">
    <div *ngFor="let country of arrayCountries">
       <a href="" class="text-white">
        <div class="media ml-1 p-2 mt-3 mb-2" style="background-color: #1e1e1e;border-radius: 5px;min-width: 200px!important;">
            <a class="d-flex" href="#">
                <img src="https://www.countryflags.io/{{country.iconCode}}/flat/24.png" alt="">
            </a>
            <div class="media-body">
                <h5>{{country.countryName}}</h5>
            </div>
        </div>
       </a>
    </div>
</div>


