.btn{
    border-radius: 0px!important;
    border-color: black;
}

.containerX{
    overflow-y: auto!important;
    max-height: 700px!important;
    min-width: 100%;
    min-width: 220px!important;
}
.media{
    box-shadow: 1px 1px 1px 1px #000;
}