@media(max-width:786px){
    .heroImage{
        margin-top: 5%!important;
    }
}

@media(max-width:1250px){
    .betCard1{
        width: 100%!important;
    }
    .betCard2{
        min-width: 100%!important;
    }
}

.btnGroup{
    font-size: small;
    border-radius: 0px!important;
    background-color: #643e94!important;
}