
.btn{
    border-radius: 0px!important;
    color: white!important;
}
.purple{
    background-color: #643e94!important;
    border-color: #643e94!important;

}

a{
    font-size: small!important;
    font-weight: 500;
     color: white!important;
}