.betButton{
    border-radius: 0px!important;
    background-color: #643e94!important;
    border-color:#643e94!important ;
}
@media(max-width:750px){
    .alignCard{
        min-width: 100%!important;
        border-radius: 0px!important;
    }
    .sidenavButtons{
        min-width: 100%!important;
    }
  
}
@media(min-width:750px){
    .alignCard{
        max-width: 205px!important;
        margin-left: -25%!important;
        border-radius: 0px!important;
    }
  
    .sidenavButtons{
        min-width: 205px!important;
          
    }
}
.betSlipOverflow{
    overflow-y: auto!important;
    overflow-x: hidden!important;
    max-height: 500px!important;
    min-width: 100%;
    scrollbar-width: thin!important;
}

.scrollable-element {
    scrollbar-width: thin;
  }

  .multipleText{
    font-size: large!important;
    color: chartreuse!important;
  }
  .table-bordered{
      border-color:1px solid  #2290cf!important;
  }
  .table-bordered th, .table-bordered td {
    border: 1px solid #2290cf!important;
}

.table-primary{
    background-color: #145377!important;
}

.spinner{
    background-color: #333333;
    color: white;
    border-radius: 0px;
    border-color: #333333;

}

.bg-warning{
    background-color: #f0ad4e!important;
}

.table-primary, .table-primary > th, .table-primary > td {
    background-color: #145377;
}

.inline{
    align-content: center!important;justify-content: center!important;display: flex!important;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(48, 46, 46); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 46, 46); 
  }

  .borderX{
      border-radius: 0px!important;
      border-width: 0px!important;
  }