/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(48, 46, 46); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 46, 46); 
  }
